In [1]:
# Initial imports.
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# Loading data
file_path = Path("../Resources/loans_data_encoded.csv")
df_loans = pd.read_csv(file_path)
df_loans.head()

,amount,term,age,bad,month_num,education_Bachelor,education_High School or Below,education_Master or Above,education_college,gender_female,gender_male
0,1000,30,45,0,6,0,1,0,0,0,1
1,1000,30,50,0,7,1,0,0,0,1,0
2,1000,30,33,0,8,1,0,0,0,1,0
3,1000,15,27,0,9,0,0,0,1,0,1
4,1000,30,28,0,10,0,0,0,1,1,0

In [37]:
# Define the features set.
X = df_loans.copy()
X = X.drop("bad", axis=1)
X = X.drop("education_Bachelor", axis=1)
X = X.drop("education_Master or Above", axis=1)
X=X.drop("gender_female", axis=1)
X=X.drop("gender_male", axis=1)
X.head()

,amount,term,age,month_num,education_High School or Below,education_college
0,1000,30,45,6,1,0
1,1000,30,50,7,0,0
2,1000,30,33,8,0,0
3,1000,15,27,9,0,1
4,1000,30,28,10,0,1

In [38]:
# Define the target set.
y = df_loans["bad"].ravel()
y[:5]

array([0, 0, 0, 0, 0])

In [39]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [40]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [41]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [42]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [43]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [44]:
predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0])

In [45]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0           54           30
Actual 1           28           13

In [46]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.536

In [47]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           54           30
Actual 1           28           13

Accuracy Score : 0.536
Classification Report
              precision    recall  f1-score   support

           0       0.66      0.64      0.65        84
           1       0.30      0.32      0.31        41

    accuracy                           0.54       125
   macro avg       0.48      0.48      0.48       125
weighted avg       0.54      0.54      0.54       125

In [48]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.05527956, 0.083377  , 0.47627742, 0.31881675, 0.03075444,
       0.03549482])

In [49]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.4762774155433003, 'age'),
 (0.3188167541048824, 'month_num'),
 (0.08337700488414826, 'term'),
 (0.05527956048657813, 'amount'),
 (0.03549482315572748, 'education_college'),
 (0.030754441825363306, 'education_High School or Below')]